{% render 'partials/head.liquid', title: 'Squad page' %}

<header>
  <h1>FDND Frontenders</h1>
</header>

<main>
  <form>
    <label>Sorteer op:</label>
    <select>
      <option value="">naam a-z</option>
      <option value="">naam z-a</option>
      <option value="">leeftijd jong-oud</option>
      <option value="">leeftijd oud-jong</option>
    </select>
  </form>

  <section>
    {% for person in persons %}
      <article>
        <figure>
          {% if person.mugshot %}
            <img src="https://fdnd.directus.app/items/person/{{ person.avatar }}" alt="Profile picture">
          {% else %}
            <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500" alt="Profile picture">
          {% endif %}
        </figure>
        <div>
          <h2>{{ person.name }}</h2>
          <p>{{ person.birthdate | date: '%y' }}</p>
        </div>
      </article>
    {% endfor %}
  </section>
</main>

{% render 'partials/foot.liquid', squads: squads %}
