{% render 'partials/head.liquid', title: 'Squad page' %}

<header>
  <h1>FDND Frontenders</h1>
</header>

<main>
  <form>
    <label>Sorteer op:</label>
    <select>
      <option value="">naam a-z</option>
      <option value="">naam z-a</option>
      <option value="">leeftijd jong-oud</option>
      <option value="">leeftijd oud-jong</option>
    </select>
  </form>

  <section>
    <article>
      <figure>
        <img src="https://raw.githubusercontent.com/MaartentePoele/your-tribe-profile-card/refs/heads/main/assets/photo.jpg">
      </figure>
      <div>
        <h2>Maarten te Poele</h2>
        <p>21</p>
      </div>
    </article>
  </section>

  {% comment %}
    <ul>
      {% for person in persons %}
        <li>
          <a href="/student/{{ person.id }}">{{ person.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endcomment %}
</main>

{% render 'partials/foot.liquid', squads: squads %}
