* {
  margin: 0;
  padding: 0;
}

html {
  --blueberry: #050542;
  --turquoise: #66e5bf;
  --white: #fff;
}

body {
  padding: 2.5rem;
  font-family: Arial, sans-serif;
  background-color: var(--blueberry);
}

header {
  width: fit-content;
  padding: 2rem;
  color: var(--blueberry);
  background-color: var(--turquoise);
  border-radius: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
}

form {
  align-self: flex-end;
}

label {
  font-size: 1.5rem;
  color: var(--white);
}

select {
  padding: 0.1rem 0.5rem;
  font-size: 1.5rem;
  color: var(--blueberry);
  cursor: pointer;
  background-color: var(--turquoise);
  border: none;
  border-radius: 1rem;
}

section {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;

  @media (min-width: 800px) {
    grid-template-columns: auto auto;
  }

  @media (min-width: 1100px) {
    grid-template-columns: auto auto auto;
  }
}

a {
  text-decoration: none;
}

article {
  width: 300px;
  height: 350px;
  overflow: hidden;
  color: var(--white);
  border: 2px solid var(--turquoise);
  border-radius: 1rem;
  box-shadow: -3px 3px var(--turquoise);
  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1.05);
  }
}

figure {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #c7c8c2;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 0.75rem;
  border-top: 3px solid var(--turquoise);
}

h2,
p {
  font-size: 1.5rem;
  font-weight: 400;
}
