* {
  margin: 0;
  padding: 0;
}

html {
  --blueberry: #050542;
  --white: #fff;
  --turquoise: #66e5bf;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--blueberry);
  padding: 2.5rem;
}

header {
  background-color: var(--turquoise);
  color: var(--blueberry);
  padding: 2rem;
  width: fit-content;
  border-radius: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
}

form {
  align-self: flex-end;
}

label {
  color: var(--white);
  font-size: 1.5rem;
}

select {
  background-color: var(--turquoise);
  color: var(--blueberry);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

section {
  padding: 2rem;
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: auto;

  @media (min-width: 800px) {
    grid-template-columns: auto auto;
  }

  @media (min-width: 1100px) {
    grid-template-columns: auto auto auto;
  }
}

a {
  text-decoration: none;
}

article {
  width: 300px;
  height: 350px;
  border: 2px solid var(--turquoise);
  border-radius: 1rem;
  overflow: hidden;
  color: var(--white);
  box-shadow: -3px 3px var(--turquoise);
}

figure {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

div {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  border-top: 3px solid var(--turquoise);
  padding: 0 0.75rem;
}

h2,
p {
  font-size: 1.5rem;
  font-weight: 400;
}
